.shopping-cart-list {
    position: absolute;
    width: 25rem;
    right: -0.75rem;
    top: 2.9rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Başlangıçta gizli */
}

.shopping-cart-list .list-item {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.card {
    position: relative;
    width: 250px;
    height: 300px; /* Yalnızca .card-container'ın yüksekliği */
    margin: 50px;
    overflow: hidden; /* Taşan kısımları gizle */
    border-radius: 20px;
    display: inline-block;

}

.card-container {
    background-color: #e6e6e6;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    flex-direction: column;
}

.card-container img {
    height: 200px;
    transition: transform 0.3s ease;
}

.card-ek-container {
    background-color: #57575738;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -150px; /* Başlangıçta görünmez yap */
    left: 0;
    transition: transform 0.5s ease;
    padding-top: 20px;
}

.card-ek-container p{
    text-align: center;
}


.card:hover .card-container img {
    transform: scale(0.7); /* Resmi küçült */
    margin-top: -100px;
}

.card:hover .card-ek-container {
    transform: translateY(-150px); /* Yukarı kaydır */
    border-radius: 20px;

}
.card:hover .card-container p {
    display: none;
}

.card-container p {
    font-size: large;
    display: inline-block;
}

.card-ek-container p {
    font-size: large;
    margin-top: -50px
}

.card button {
    padding: 10px 20px;
    background-color: rgba(0,140,167,255);
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 40px;
    cursor: pointer;
    transition:  0.3s;
    border: 1px solid rgba(0,140,167,255);
}

.btn-add{
    padding: 10px 20px;
    background-color: rgba(0,140,167,255);
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 40px;
    cursor: pointer;
    transition:  0.3s;
    border: 1px solid rgba(0,140,167,255);
}
.card button:hover {
    background-color: rgb(45, 45, 155);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 1px solid rgb(45, 45, 155);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sütunlu grid */
    gap: 20px; /* Card'lar arası boşluk */
    margin-left: 350px; /* Container'ın genişliği + boşluk */
    padding: 20px; /* Kenarlardan boşluk */
    align-items: start; /* Kartları yukarı hizala */
    position: relative; /* Sabitlenen container ile hizalama */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(245, 247, 248);
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
}

.shopping-cart-list {
    position: absolute;
    width: 25rem;
    right: -0.75rem;
    top: 2.9rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Başlangıçta gizli */
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
}

.btn-cart {
    cursor: pointer;
}

/* Sepet simgesi */
.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}


.item-info {
display: flex;
gap: 10px;
align-items: center;
}

.item-info span {
margin-right: 10px;
}


.btn-success {
color: #fff;
background-color: #28a745;
border-color: #28a745;
border: 1px solid #28a745 ;
text-align: center;
vertical-align: middle;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 10px;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
margin-left: 255px;
margin-top: 20px;}

.btn-success:hover {
color: #fff;
background-color: #218838;
border-color: #1e7e34;
}



.ust {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;    
}


.nohu-icon {
    width: 150px;
    height: 50px;
    width: auto;
    background-color: #f8f8f8;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    
}

.satis-ofisi {
    font-size: large;
    margin-left: -600px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    padding: 0;
    
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.6s ease;
    
}

.menu ul li a:hover {
    color: #e28648;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) , 0px 6px 20px rgba(0, 0, 0, 0.15);  /* Daha küçük bir yarıçap ve daha yoğun bir opaklık (%20). Bu gölge, objeye daha yakın olan ve ışığın oluşturduğu ilk net gölgeyi simgeler.  Daha geniş bir yarıçap ve daha düşük opaklık (%15). Bu, objeden uzaklaşan ışığın oluşturduğu daha yayılmış ve yumuşak bir gölgeyi ifade eder. */
    border-radius: 8px;
    font-weight: 700;
    padding: 4px 8px;   /* ekstra bir aaln eklemek */
    background: rgba(255, 102, 0, 0.1); /* Hafif bir arka plan efekti */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    
}
.contact {
    transition: all 0.6s ease;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(45deg, rgba(46, 31, 114, 0) 10%, rgb(11, 53, 30) 10%);
    color: rgb(72, 88, 106);
    display: flex;
    height: 40px;
    justify-content:end;
    margin-right: 0px;
    position: relative;    /* position: relative; bir öğe, içindeki position: absolute; olan alt öğeler için bir referans noktası oluşturur. Yani, bu öğenin sınırları, alt öğeler için bağlayıcı bir çerçeve olur. */
    width: 300px;
    margin-right: -370px;
    
}

.phone-number{
    color: white;
    font-size: 16px;
    margin-right: 20px;
    padding-top: 10px;
    
    
}
.icons-all{
    background-color:rgb(11, 53, 30) ;
}
.icons{
    
    background-color: rgb(11, 53, 30);
    height: 15px;
    justify-content: start;
    margin-left: 28px;
    margin-top: 11px;
    transition: transform 0.3s ease;
    
}
.icons2{
    color: white;
    
    height: 15px;
    margin-left: 9px; 
    margin-right: 10px;
    margin-top: 11px;
    transition: transform 0.3s ease;
    
     
}
.icons:hover {
    transform: scale(1.4);
}
.icons2:hover{
    transform: scale(1.4);
}



.container {
    display: flex;
    margin: 20px;
}


.urunler-menu {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 300px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    cursor: pointer;
}

.urunler-menu-ul {
    list-style: none;
    padding: 0;
}

.urunler-menu-ul li {
    margin-bottom: 15px;
}

.urunler-menu-ul .a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.urunler-menu-ul .a:hover {
    color: rgba(0, 140, 167, 255);
    background-color: #f0f8ff; /* Hover sırasında arka plan */
}

.urunler-menu-ul .a:active {
    background-color: rgba(0, 140, 167, 255); /* Aktif durumda arka plan */
    color: #fff; /* Aktif durumda metin rengi */
}

.urunler-menu-ul li .a.active {
    background-color: rgba(0, 140, 167, 255);
    color: #f0f8ff;
    font-weight: bold;
}

.urunler-menu-ul li .a.active:hover {
    color: #f0f8ff ;
    font-weight: bold;
}
.grid-duzen {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sütun */
    gap: 20px; /* Kartlar arasında boşluk */
    margin-left: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}




